body{background: #EAE6E6 url(images/fon.jpg); margin: 0; padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif; color: #272727;}
a{text-decoration: none;}
li{list-style-type: none;}

/*Структура сайта*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{padding-top: 20px; position: absolute; position: fixed; width: 100%;
	background:
	radial-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0) 250px) 10% -200px no-repeat;
	background-color: #101417; background-size: 500px 500px;}
div.footer{margin: 20px 0; text-align: center; text-transform: uppercase;}

/*Шапка сайта*/
div.topmenu{float: right; height: 70px; line-height: 70px;}
div.topmenu a{margin: 0 0 0 10px; color: #1683a3;}
div.topmenu a:hover{color: #fff;}
div.afisha{padding: 20px 50px 1px 50px; margin-top: 20px;
	background:
	linear-gradient(90deg, #c16a8a 100px, #a367ba 100px, #a367ba 200px, #2b798f 200px, #2b798f 300px,
		#76a6ac 300px, #76a6ac 400px, #93ae65 400px, #93ae65 500px, #dbb16f 500px) left top repeat-x;
	background-color: #C0C0C0; background-size: 600px 10px;}

div.afisha img{float: left;}
div.afisha h3{font-size: 24px; font-weight: normal; text-align: center; color: #830000}
div.afisha p{text-align: center;}

/*Контент сайта*/
div.content {padding-top: 210px;}
div.cont{background: #1683a3; border: 1px solid #016c8b; border-left: none; border-right: none;}
div.cont ul{margin: 0; padding: 0; list-style: none; text-align: center;}
div.cont ul li {display: inline-block; margin: 5px 30px;}
div.cont ul li{color: #fff; text-transform: uppercase; text-shadow: 1px 1px 3px #0b4455;}
div.fon {background: #E6E6E6; border: 1px solid #ccc; border-top: none; padding: 40px;}
div.fon hr.line {border: none; border-bottom: 1px dashed #ccc; height: 0; margin: 40px 0;}
div.fon ul a.image{float: right; background: url(images/buttonoff.png); width: 185px; height: 70px; display: block;}
div.fon ul a.image:hover{background-image: url(images/buttonon.png);}
div.fon ul li a{color: #0612FE;}
div.fon ul li a:hover{color: #09E6EE; text-decoration: underline;}

/*Подвал*/
div.footer span {margin: 0 20px;}

div.clear{clear: both;}

/*Адаптивный дизайн*/
@media screen and (max-width: 1000px){
	div.mid{width: 95%;}
	div.afisha h3{font-size: 22px;}
	div.block {width: 48%;}
	div.anons img, div.rek img {width: 100%;}
	div.anons h3 {font-size: 18px;}
}

@media screen and (max-width: 640px){
	div.header{text-align: center; background-position: center -130px;}
	div.topmenu, div.afisha img, div.block, div.block:nth-of-type(even){float: none;}
	div.block {width: auto; margin-bottom: 40px;}
	div.block:nth-last-of-type(2){margin-bottom: 0;}
	div.footer span {margin: 10px 0; display: block;}
}